<div class="split-view-container">
  <div class="left">
    <!-- Response Profile -->
    <div>
      <div class="center">
        <!-- SIDE BAR -->
        <app-side-nav></app-side-nav>
      </div>
    </div>

  </div>
  <div class="right dash-board">
    <div class="form-ft">
      <div class="float-right-text-pos"><h1>All Tweets</h1></div>
      <div class="top-margin-tweet">
        <app-tweet *ngFor="let tweet of tweetList" [tweet]="tweet"></app-tweet>
      </div>
    </div>


  </div>
</div>
